* {
cursor: default;
}

*:focus {
outline: none;
}

@font-face
{
font-family: Baksheesh;
src: url('Baksheesh-Regular.ttf');
}

.quote
{
font-family: 'Baksheesh';
font-size:35px;
padding: 10px;
color: #090347;
height: 100%;
width: 100%;
display: flex;
position: fixed;
align-items: center;
justify-content: center;
-webkit-animation: fadein 0.3s;
-moz-animation: fadein 0.3s;
-ms-animation: fadein 0.3s;
-o-animation: fadein 0.3s;
animation: fadein 0.3s;
}

.footer-left {
position: fixed;
bottom: 0;
left: 0;
font-family: 'Baksheesh';
padding: 10px;
font-family: 'Baksheesh';
font-size : 12px;
color : #090347;
background-color : #ffffff;
}

.footer-right {
position: fixed;
bottom: 0;
right: 0;
font-family: 'Baksheesh';
font-size:20px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
color: #090347;
}

.btn {
font-family: 'Baksheesh';
border : solid 0px #ffffff;
font-size : 15px;
color : #090347;
padding : 2px;
background-color : #ffffff;
}

.link {
width: 205px;
font-family: 'Baksheesh';
border : solid 0px #ffffff;
font-size : 12px;
color : #090347;
padding : 2px;
background-color : #ffffff;
text-align: center;
}

a, a:hover, a:visited {
color: #090347;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

::selection {
background: #090347;
color: #ffffff;
}
::-moz-selection {
background: #090347;
color: #ffffff;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}